Repository labsonline/repoconfig, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-actions, devcontainer, docs

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - "*"

# Add 'github-actions' label to any changes in the '.github' directory
github-actions:
  - .github/workflows/*
  - .github/workflows/*/**
  - .github/dependabot.yml
  - .github/dependabot.yml/**

# Add 'devcontainer' label to any changes in the '.devcontainer' directory
# and the '.docker' directory
devcontainer:
  - .devcontainer/*
  - .devcontainer/**/*
  - .docker/*
  - .docker/**/*

# Add 'docs' label to any changes in the 'docs' directory
# and '*.md' files
docs:
  - docs/*
  - docs/*/**
  - '*.md'

prepare for rw
  .github/workflows/cicd.yml
  .github/workflows/review.yml
Labels: github-actions

prepare for rw (#6)
  .github/workflows/cicd.yml
  .github/workflows/review.yml
Labels: github-actions

Update cicd permission & add rw.yml.sample
  .github/workflows/cicd.yml
  .github/workflows/rw.yml.sample
  .vscode/settings.json
  code-of-conduct.md
Labels: repo, github-actions, docs

Update cicd permission & add rw.yml.sample (#7)
  .github/workflows/cicd.yml
  .github/workflows/rw.yml.sample
  .vscode/settings.json
  code-of-conduct.md
Labels: repo, github-actions, docs

Create trunk.yaml
  .trunk/trunk.yaml
Labels: none

Create trunk.yaml (#8)
  .gitignore
  .hadolint.yaml
  .trunk/.gitignore
  .trunk/configs/.codespellrc
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isosort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  .yamllint
Labels: repo

ci: Update github actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto_assign.yml
  .github/dependabot.yml
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yaml
  .github/workflows/release.yml
  .github/workflows/review.yml.sample
  .github/workflows/rw.yml.sample
  .gitignore
  .markdownlint.yaml
  .trunk/.gitignore
  .trunk/configs/.codespellrc
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isosort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  .vscode/launch.json
  .vscode/settings.json
  .yamllint.yaml
  LICENSE
Labels: repo, github-actions

ci: Update github actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto_assign.yml
  .github/dependabot.yml
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yaml
  .github/workflows/release.yml
  .github/workflows/review.yml.sample
  .github/workflows/rw.yml.sample
  .gitignore
  .markdownlint.yaml
  .trunk/.gitignore
  .trunk/configs/.codespellrc
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isosort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  .vscode/launch.json
  .vscode/settings.json
  .yamllint.yaml
  LICENSE
Labels: repo, github-actions

ci: Update github actions (#11)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto_assign.yml
  .github/dependabot.yml
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yaml
  .github/workflows/release.yml
  .github/workflows/review.yml.sample
  .github/workflows/rw.yml.sample
  .gitignore
  .markdownlint.yaml
  .trunk/.gitignore
  .trunk/configs/.codespellrc
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isosort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  .vscode/launch.json
  .vscode/settings.json
  .yamllint.yaml
  LICENSE
Labels: repo, github-actions

Add CI/CD badges to README.md
  README.md
Labels: repo, docs

Add CI/CD badges to README.md (#12)
  README.md
Labels: repo, docs

Adjust VS Code settings and file exclusions
  .vscode/settings.json
Labels: none

Add code-snippets
  .vscode/repoconfig.code-snippets
Labels: none

feat: Add setup task for Visual Studio Code
  .vscode/tasks.json
  tools/setup-vscode.sh
Labels: none

Refactor CI/CD workflow and update Makefile location
  .github/workflows/cicd.yml
  hack/Makefile
Labels: github-actions

Adds git hooks
  hack/commit-msg
  hack/prepare-commit-msg
Labels: none

Adds git hooks
  .github/ISSUE_TEMPLATE/security.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/review.yml.sample
  .trunk/configs/.markdownlint.yaml
  .vscode/repoconfig.code-snippets
  README.md
  SECURITY.md
  hack/commit-msg
  hack/prepare-commit-msg
Labels: repo, github-actions, docs

Add trunk-check-pre-push to disabled actions
  .trunk/trunk.yaml
Labels: none

Add trunk-check-pre-push to disabled actions
  README.md
Labels: repo, docs

Add GitHub Markdown Preview extension to default extension list
  tools/setup-vscode.sh
Labels: none

Adjust Visual Studio Code settings (#13)
  .github/ISSUE_TEMPLATE/security.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cicd.yml
  .github/workflows/review.yml.sample
  .trunk/configs/.markdownlint.yaml
  .trunk/trunk.yaml
  .vscode/repoconfig.code-snippets
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  SECURITY.md
  hack/Makefile
  hack/commit-msg
  hack/prepare-commit-msg
  tools/setup-vscode.sh
Labels: repo, github-actions, docs

chore: repoconfig
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yaml
  .github/workflows/cleanup.yaml.sample
  .trunk/configs/.yamllint.yaml
  .vscode/extensions.json
  README.md
  tools/setup-vscode.sh
Labels: repo, github-actions, docs

chore: repoconfig (#14)
  .github/workflows/cicd.yml
  .github/workflows/cleanup.yaml
  .github/workflows/cleanup.yaml.sample
  .trunk/configs/.yamllint.yaml
  .vscode/extensions.json
  README.md
  tools/setup-vscode.sh
Labels: repo, github-actions, docs

Update README.md
  README.md
Labels: repo, docs

Update README.md (#15)
  README.md
Labels: repo, docs
